:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: var(--white);
  color: var(--slate);
}

button {
  cursor: pointer;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

/* ----------HEADER---------- */

header .container {
  display: flex;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
  padding-left: 156px;
  padding-right: 156px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--navy-blue);
}

.header-logo span {
  color: var(--iris);
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-contacts .header-mail {
  margin-right: 40px;
}

.header-link {
  color: var(--navy-blue);
}

.header-link:hover,
.header-link:focus {
  color: var(--ocean);
}

/* ----------HERO---------- */

.hero-section {
  height: 600px;
  background-color: var(--navy-blue);
}

.hero-section .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 156px;
  padding-right: 156px;
}

.hero-header {
  color: var(--white);
  font-size: 56px;
  text-align: center;
}

.hero-btn {
  margin-top: 64px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white);
  background-color: var(--iris);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}

.header-mail,
.header-tel {
  color: var(--slate);
}

.header-mail:hover,
.header-tel:hover,
.header-mail:focus,
.header-tel:focus {
  color: var(--ocean);
}

/* ----------BENEFITS---------- */

.benefits-section .container {
  padding-left: 156px;
  padding-right: 156px;
  height: 104px;
}

.benefits-section {
  margin-top: 120px;
}

.benefits,
.filters {
  display: none;
}

.benefits-list {
  display: flex;
  justify-content: space-between;
}

.benefits-division {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 264px;
  height: 104px;
  margin-right: 24px;
  gap: 8px;
}

.benefits-header {
  font-weight: 500;
  font-size: 20px;
  color: var(--navy-blue);
}

/* ----------EXAMPLES---------- */

.examples-section .container {
  padding-left: 156px;
  padding-right: 156px;
  margin-top: 120px;
}

.examples-section {
  width: 1128px;
  height: 412px;
}

.examples-img,
.team-cards {
  display: flex;
}

.exm-img-div,
.team-card {
  margin-right: 24px;
  margin-top: 72px;
}

.examples,
.team {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

/* ----------TEAM---------- */

.team-section .container {
  height: 732px;
  margin-top: 120px;
}

.team-section {
  background-color: var(--cloud);
  width: 1440px;
  height: 732px;
}

.team {
  padding-top: 120px;
}

.team-card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  transition: 0.3s;
  padding-bottom: 120px;
}

.team-cards {
  margin-top: 72px;
  justify-content: center;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: var(--navy-blue);
}

.team-text {
  text-align: center;
}

/* ----------FOOTER---------- */

footer {
  background-color: var(--navy-blue);
  height: 310px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.167;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--cloud);
}

.footer-logo span {
  color: var(--iris);
}

.footer-logo-div {
  padding-top: 100px;
  padding-left: 156px;
}

.footer-text {
  color: var(--cornflower);
  padding-left: 156px;
  margin-top: 16px;
}

.footer-text-div {
  width: 264px;
  height: 72px;
}

/* ----------PORTFOLIO---------- */

.portfolio-img {
  display: flex;
  width: 1128px;
}

.card-header {
  font-weight: 500;
  font-size: 20px;
  color: var(--navy-blue);
}

.card-text {
  line-height: 1.5;
}
