:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  line-height: 24px;
  color: var(--navy-blue);
}

.header-logo span {
  color: var(--iris);
}

.header-link {
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.header-mail {
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-tel {
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.hero-section {
  background-color: var(--navy-blue);
}

.benefits-section {
}

.benefits {
  display: none;
}

.benefits-header {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.benefits-text {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.examples-section {
}

.examples {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.examples-image {
}

.team-section {
  background-color: var(--cloud);
}

.team {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-image {
}

.team-name {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.team-text {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--slate);
}

footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}

.footer-logo span {
  color: var(--iris);
}

.footer-text {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--cornflower);
}

.card-header {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.card-text {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--slate);
}

button {
  cursor: pointer;
}
